[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bolasso"]
	path = bolasso
	url = https://github.com/dmolitor/bolasso
[submodule "jetty"]
	path = jetty
	url = https://github.com/dmolitor/jetty
[submodule "tugboat"]
	path = tugboat
	url = https://github.com/dmolitor/tugboat
